{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    {% block style %}{% endblock  %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

{% include "layouts/partials/nav.html" %}

    <main>
        {% block main %}

        {% endblock %}
    </main>
    <container>
        {% block content %}

        {% endblock %}
    </container>
    <footer>
        Todos los derechos reservados
    </footer>
</body>
</html>