{% load static %}
<footer>
    <img src="{% static "img/camara.png" %}" width="130"/>
    <ul>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara-ar">Diseñador logotipo</a></li>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara-ar">Diseñador logotipo</a></li>
        <li><a href="https://www.flaticon.es/iconos-gratis/camara-ar">Diseñador logotipo</a></li>
    </ul>
    <ul>
        <li><a href="{% url "index" %}">Index</a></li>
        <li><a href="{% url "portfolio" %}">Portfolio</a></li>
        <li><a href="https://www.instagram.com">Instagram</a></li>
    </ul>
    <ul>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
    </ul>
    <p>Footer</p>
</footer>