{% extends "layouts/base.html" %}
{% block style %}<link rel="stylesheet" type="text/css" href="/static/styles_top.css">{% endblock  %}
{% block main %}
<h1>Top foto</h1>
{% endblock %}

{% block content %}
<div class="title_photo">
    <h2>Mono</h2>
</div>
<div class="imagen">
    <div>
        <img src="https://imageio.forbes.com/specials-images/imageserve/5faad4255239c9448d6c7bcd/Best-Animal-Photos-Contest--Close-Up-Of-baby-monkey/960x0.jpg?format=jpg&width=960" alt="cara de mono"/>
    </div>
</div>
{% endblock %}